<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <title>Departamento de limpieza|Sombrerete Zacatecas</title>
</head>
<body>
    <form>
        <fieldset>
            <legend>Inicio de sesión</legend>

            <!--Nombre del solicitante-->
            <div class="form-group">
                <label for="NombreDelSolicitante" class="form-label mt-4">--Nombre del solicitante--</label>
                <input type="text" class="form-control" id="NombreDelSolicitante" placeholder="Nombre del solicitante">
                
            </div>

            <!--Dirección-->
            <div class="form-group">
                <label for="Direccion" class="form-label mt-4">--Dirección--</label>
                <input type="text" class="form-control" id="Direccion" placeholder="Dirección de la solicitud">
                
            </div>

            <!--Colonia-->
            <div class="form-group">
                <label for="Colonia" class="form-label mt-4">--Colonia--</label>
                <input type="text" class="form-control" id="Colonia" placeholder="Colonia de la solicitud">
                
            </div>

            <!--Telefono de contacto-->
            <div class="form-group">
                <label for="TelefonoDeContacto" class="form-label mt-4">--Telefono de contacto--</label>
                <input type="text" class="form-control" id="TelefonoDeContacto" placeholder="Número de contacto">
                
            </div>

            <!--Descripcion-->
            <div class="form-group">
                <label for="Descripcion" class="form-label mt-4">--Descripcion--</label>
                <input type="text" class="form-control" id="Descripcion" placeholder="Descripcion">
                
            </div>

            <!--Botones-->
            <div class="form-group">
                </br>
                <!--Boton Submit-->
                <button type="submit" class="btn btn-primary">Ingresar</button>
                <!--Boton Submit-->
                <button type="reset" class="btn btn-primary">Borrar</button>
            </div>
        </fieldset>
    </form>
</body>
</html>