<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <title>Departamento de limpieza|Sombrerete Zacatecas</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">

            <a class="navbar-brand" href="formulario.html">INICIO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="formulario.html">Formulario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="funcion.html">FunciÓn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="seguimiento.html">Seguimiento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admin.html">Administrador</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <form>
        <fieldset>
            <legend>Inicio de sesión</legend>

            <!--Nombre del solicitante-->
            <div class="form-group">
                <label for="NombreDelSolicitante" class="form-label mt-4">--Nombre del solicitante--</label>
                <input type="text" class="form-control" id="NombreDelSolicitante" placeholder="Nombre del solicitante">
                
            </div>

            <!--Dirección-->
            <div class="form-group">
                <label for="Direccion" class="form-label mt-4">--Dirección--</label>
                <input type="text" class="form-control" id="Direccion" placeholder="Dirección de la solicitud">
                
            </div>

            <!--Colonia-->
            <div class="form-group">
                <label for="Colonia" class="form-label mt-4">--Colonia--</label>
                <input type="text" class="form-control" id="Colonia" placeholder="Colonia de la solicitud">
                
            </div>

            <!--Telefono de contacto-->
            <div class="form-group">
                <label for="TelefonoDeContacto" class="form-label mt-4">--Teléfono de contacto--</label>
                <input type="text" class="form-control" id="TelefonoDeContacto" placeholder="Número de contacto">
                
            </div>

            <!--Descripcion-->
            <div class="form-group">
                <label for="Descripcion" class="form-label mt-4">--Descripción--</label>
                <textarea id="Descripcion" class="form-control" placeholder="Descripción" required rows="3"></textarea>
                
            </div>

            <!--Botones-->
            <div class="form-group">
                </br>
                <!--Boton Submit-->
                <button type="submit" class="btn btn-primary">Ingresar</button>
                <!--Boton Submit-->
                <button type="reset" class="btn btn-primary">Borrar</button>
            </div>
        </fieldset>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

</body>
</html>