<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <title>Departamento de limpieza|Sombrerete Zacatecas</title>
</head>
<body>
    <div class="card text-white bg-primary mb-3" style="max-width: 90rem;">
        <div class="card-header">PASOS</div>
        <div class="card-body">
          <h4 class="card-title">Segumiento de queja</h4>
          <p class="card-text">El departamento de limpieza su función principal es otorgar a la ciudadadania un mejor servicio</p>
          <ol>
            <li>Ingresar a la plataforma oficial de atención a quejas o sugerencias.</li>
            <li>Entrar al apartado de formulario para llenar datos en especifico.</li>
            <li>Dar click en enviar el formulario ya completado.</li>
            <li> Al de departamento le corresponderia dar el seguimiento.</li>
            <li>Estar al tanto del seguimiento de tu reporte con un folio que se proporcionara.
            <li>Finalizar con exito su reporte y satisfacción.</li>
         <!--horario-->
         <div class="card text-white bg-primary mb-3"  aling="rigth" style="max-zoom: 30rem ;">
            <div class="card-body">
              <h4 class="card-title">Recolección horarios</h4>
            <img src="https://i.ibb.co/rxYzjYG/Horario-Dep-Lim.png" alt="Horario-Dep-Lim" >
            </div>
            </div>
</html>