<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <title>Departamento de limpieza|Sombrerete Zacatecas</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">

        <a class="navbar-brand" href="formulario.html">INICIO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">

              <li class="nav-item">
                  <a class="nav-link" href="formulario.html">Formulario</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="funcion.html">FunciÓn</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="seguimiento.html">Seguimiento</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="admin.html">Administrador</a>
              </li>
          </ul>
      </div>
    </div>
</nav>
    <div class="card text-white bg-primary mb-3" style="max-width: 90rem;">
        <div class="card-header">PASOS</div>
        <div class="card-body">
          <h4 class="card-title">Segumiento de queja</h4>
          <p class="card-text">El departamento de limpieza su función principal es otorgar a la ciudadadania un mejor servicio</p>
          <ol>
            <li>Ingresar a la plataforma oficial de atención a quejas o sugerencias.</li>
            <li>Entrar al apartado de formulario para llenar datos en especifico.</li>
            <li>Dar click en enviar el formulario ya completado.</li>
            <li> Al de departamento le corresponderia dar el seguimiento.</li>
            <li>Estar al tanto del seguimiento de tu reporte con un folio que se proporcionara.
            <li>Finalizar con exito su reporte y satisfacción.</li>
            <a style="color:yellow" href="https://docs.google.com/forms/d/e/1FAIpQLSf63RgT79n1HFIxUxbja9EB9boGri0NU87N9I1-Do0f4lT0CA/viewform?usp=sf_link">Danos tu opinion sobre la aplicación.</a>
         <!--horario-->
         <div class="card text-white bg-primary mb-3"  aling="rigth" style="max-zoom: 30rem ;">
            <div class="card-body">
              <h4 class="card-title">Recolección horarios</h4>
            <img src="https://i.ibb.co/rxYzjYG/Horario-Dep-Lim.png" alt="Horario-Dep-Lim" >
            </div>
            </div>
</html>